.container{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 270px;
    border: solid 2px black;
    border-radius: 20px;
    transition: all 0.5s ease;
    background-color: aliceblue;
    box-shadow: 0 0 20px rgba(0,255,255,0.6);

}

.container:hover{
    transform: scale(1.1);

}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttons{
    border-radius: 20px;
    margin: 10px 10px 0 0;
    border: none;
    background-color: red;
    color:aliceblue;
}

.buttons:hover{
    cursor: pointer;
    transform: scale(1.1);

}

.image{
    width: 200px;
    border-radius: 10px 10px 0 0;
}

.imageContainer{
    display:flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    align-items: center;
}

.name{
    background-color: rgba(255, 47, 210, 0.6);
    position: absolute;
    margin-bottom: 0px;

}

.propsContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 47, 210, 0.6);
    border-radius: 0 0 15px 15px;
}

.propsContainer h2{
    margin: 0px;
    color: aqua;
}